
.oldsix-content {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
   gap: 15px;

}


.oldsix-btn-tit {
   width: 100%;
   margin-bottom:5px !important
}

.oldsix-row {
  
   border: 1px solid #eeee; 
   border-radius: 8px;
   box-shadow: 0 0 15px #3d363650;
   padding: 10px; 
      
    
}
.oldsix-row>.oldsix-row{
   width: 48%;
   display: inline-block;
   margin-bottom: 2%;
   margin-right: 2%;
   vertical-align: top;
   min-height: 150px;
}

.oldsix-btn {
   margin: 3px !important;
   position: relative !important; 
   display: inline-block!important; 
   overflow:visible!important
}

.oldsix-btn:hover::after{
   content: attr(data-sixoldtit);
   position: absolute;
   top: 100%;
   left: 0;
   background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
   border-radius: 5px;
   z-index: 999!important;
   transform: translateY(15px);
   width: max-content;
   max-width: 800px; 
   word-wrap: normal;
   color:black;
   font-weight: bold;
   transition: width 0.3s linear;
   display: inline-block;
   overflow:hidden;
   padding: 10px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}


.oldsix-btn:hover::before{
   content: '';   
   display: inline-block;
   width: 0;
   height: 0;
   border-top: 10px solid transparent;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-bottom: 10px solid #d4fc79;
   position: absolute;
   left:0;
   top: 100%;
   z-index: 9999!important;
 }
 

 .six-hide{
    display: none!important;
 }
 
 .six-show{
   display: block!important;
}

#oldsix-optit{
   display: block;
    
}
#oldsix-optit button{
   margin: 5px;
}
.oldsix-reload{
   width: 50px !important; 
  
}
.oldsix-clear{
   width: fit-content!important;
    
}

.oldsix-btn.active{
   background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%)!important;
   color:black;
}

.oldsix-btn.active:hover{
   background: linear-gradient(120deg, #a8d63d 10%, #96e6a1 100%)!important;
}
.oldsix-tab-nav button{
    position: relative;
}
.oldsix-tab-nav button.active::after{
   position: absolute;
   content: '';
   display: block;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
   right: 3px;
   top:50%;
   transform: translateY(-50%);
}

.old-six-shop{
 
  background-color: #0ba360;
  

}

.oldsix-checklock{
  width: fit-content !important;
  display: inline-block!important;
  margin-left: 15px !important;
 

}

.oldsix-inline{  
   min-width: min(50%, 100%)  !important;
}

 



/*  -------------------------------------------- */
.old-six-traninput{
   width: 60%!important;
   position: fixed!important;
   margin:auto!important;
   left:0;
   right:0;
   top:25%;
   z-index: 99999!important;
   min-height: 200px!important; 
   border-radius: 10px !important;
   background: linear-gradient(to right, #76767a, #41444c);
   display: none;
   
}
.old-six-traninput textarea{
   height: 60px!important;
   background: #e9e9e9ad!important;
   position: relative;
   color:#000!important;
   box-shadow: 5px 5px 15px #000!important;
   outline: 0px!important;
   font-size: 16px!important;
   line-height:16px!important;
   
  
}
.old-six-traninput textarea::placeholder {
   font-size: 16px;
   font-family: Arial;
   letter-spacing: 5px;
   color: #000 !important;
   text-align: center;
   font-weight: bold;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}
 
.old-six-traninput textarea:focus {
   border: 3px #fff solid!important;
 
}


/*  -------------------------------------------- */
.oldsix-ul{
   display: flex;
   flex-wrap: wrap;
   margin: 20px auto !important;
   list-style: none;
}
.oldsix-ul li{
   
   background: #f36500;
   margin: 5px;
   border-radius: 3px;
   display: flex;
   align-items: center;
   position: relative;
   cursor: grab;
   box-shadow: 5px 5px 15px #741c1c;
   overflow: hidden;
  
  

}
 
.oldsix-ul li:hover .alculate{
   visibility: visible;
} 
.oldsix-ul li:hover .close{
   visibility: visible;
} 

.oldsix-ul li .alculate{
   width: 20px;
   visibility: hidden;
   position: relative;
   display: flex;
   flex-direction: column;
   height: 100%;
  
  
  
}
.oldsix-ul li .add{
  
   flex: 1;
   background-color: #0d7043;
   width: 20px;
   text-align: center;
   cursor: pointer;
   font-weight: bold;
   height: 50%;
}

.oldsix-ul li .sub{
 
   flex: 1; 
   background-color: #c15700;
   width: 20px;
   text-align: center;
   cursor: pointer;
   font-weight: bold;
   height: 50%;
}
.oldsix-ul li .content{
   margin: 0 20px 0 5px;
   color: #fff;
}

.oldsix-ul li .close{
   position: absolute;
   right: 0;
   top: 0;
   font-size: 16px;
   transition: .2s all ease-in;
   padding: 0 8px;
   visibility: hidden;
}
.oldsix-ul li .close:hover{
   color: red;
   cursor: pointer;
 
}

.oldsix-tips::after{
  content: "[ALT+Q呼出翻译框]";
}


 